body {
    width: 960px;
    margin: auto;
  
    justify-content: center;
  }
  html {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
  }
  .toprightbox {
    font-weight: normal;
    font-size: 12px;
    height: 20px;
    text-align: right;
    cursor: pointer;
    margin-top: 0px;
    font-family: "Trebuchet MS";
  }
  .toprightbox li p::before {
    content: "|";
    margin-right: 7px;
    margin-left: 0px;
  }
  
  .toprightbox li p {
    margin-top: 0px;
  }
  .topcontent {
    background-color: #405c8a;
    height: 15px;
    padding: 1px;
    display: inline-flex;
    list-style: none;
    color: white;
    margin-top: 0px;
    padding: 5px;
  }
  .topcontent li:not(:last-child)::after {
    content: " | ";
    margin-right: 5px;
  }
  .header {
    width: 100%;
    margin: 35px auto 0px;
  }
  .nav {
    padding: 4px;
    background-color: #15233c;
    text-transform: uppercase;
}
.navborder {
    border: 1px solid;
    border-color: #545b66;
}
.menu-items {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 250px;
    border-radius: 9px;
  }
  
  .menu-items li a, .active {
    text-decoration: none;
    font-family: "Trebuchet MS";
    padding: 15px;
    color: #ade1f7;
    border-radius: 9px;
  }
  
  .menu-items li:hover a,
  .active {
    color: #fff;
    background-color: #136885;
    padding-top: 2px;
    padding-bottom: 5px;
    cursor: pointer;
    border-radius: 9px;
  }
  
  .menu-items li:not(:last-child)::after {
    font-size: 18px;
    content: "|";
    color: #fff;
  }
  #Logo {
    position: absolute;
    top: 13px;
    margin-left: 10px;
  }
  #Banner {
    color: #ffffff;
    border-width: 1px;
    padding-left: 25px;
    padding-top: 27px;
    padding-bottom: 12px;
    background-color: #291b1b47;
}
#firstline {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 40px;
    margin-top: 8px;
    letter-spacing: 8px;
    margin-bottom: 5px;
}
#secondline {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 40px;
    letter-spacing: 8px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.contentbackground {
    font-family: Trebuchet MS;
    font-size: 15px;
    background: linear-gradient(to bottom, #12203880, #122038, #122038);
    padding: 2px;
}
.contentborder {
    border: 1px solid;
    border-color: #545b66;
    border-image: linear-gradient(to top, #ffffff40, rgba(0, 0, 0, 0)) 1;
    padding: 10px;
}
.row {
    display: flex;
    margin-bottom: 10px;
}
.column {
    flex: 1;
}
.img1 {
    filter: brightness(2);
}
.titlecontent {
    padding-top: 10px;
    color: white;
    margin-right: 40px;
    padding-right: 15px;
}
.titlecontent1 {
    padding-top: 10px;
    color: white;
    margin-right: 40px;
    padding-bottom: 16px;
    padding-right: 20px;
}
.bottomlinks1 {
    margin-top: 5px;
    color: #b2ddfc;
    text-decoration: underline;
    cursor: pointer;
}
.bottomlinks2 {
    margin-top: 38px;
    color: #b2ddfc;
    text-decoration: underline;
    cursor: pointer;
}
.bottomlinks {
    margin-top: 18px;
    color: white;
}
.bottomlinks a {
    color: #b2ddfc;
    text-decoration: underline;
    cursor: pointer;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d3e6b;
    margin-top: 10px;
    height: 25px;
    color: white;
  }
  
  .footer p {
    margin-right: 10px;
  }
  
  .footer ul {
    list-style: none;
    display: flex;
    gap: 0 5px;
  }
  
  .footer ul li a {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 5px;
  }
  
  .footer ul li:not(:last-child)::after {
    content: "|";
    padding: 5px;
    color: #cad2ee;
  }
  /* styling for second page */
  .container {
    display: flex;
    padding: 10px;
    color: white;
    column-gap: 30px;
    font-family: Trebuchet MS;
    font-size: 15px;
}
.left-column {
    line-height: 26px;
}

.leftcontent1 {
    background-color: #122139;
    border-top: 1px solid #3d4558;
    border-bottom: 1px solid #3d4558;
    list-style: none;
    padding-left: 0px;
}
.leftcontent1 a {
    color: #b2ddfc;
    text-decoration: underline;
    cursor: pointer;
}
.item3 {
    color: #ade1f7;
    font-weight: bold;
    font-size: 20px;
}
.item4 {
    color: #ade1f7;
  }
  
  .item4 a {
    color: #ade1f7;
  }
  
  .item4 p {
    color: white;
    margin-top: 5px;
    margin-bottom: 0px;
  }
.item6 {
    color: white;
    margin-left: 30px;
    line-height: 18px;
}
.item6 {
    margin-left: 30px;
    line-height: 18px;
    margin-top: 16px;
  }
  
  .item6 p {
    margin-top: 0px;
    display: flex;
  }
  .item6 p::before {
    content: ".";
    margin-right: 5px;
  }
  .item7 {
    margin-top: 45px;
    background-color: #0A293D;
    border-top: 1px solid #3d4558;
    border-bottom: 1px solid #3d4558;
  }
  .item7 p {
    margin-left: 30px;
  }
  
  .item7 a {
    background-color: #165975;
    border-radius: 2.5px;
    padding: 4px 15px 6px 15px;
  }
  button {
    background-image: linear-gradient(to top,#0A293D,#155D75);
    color: white;
    border-radius: 4.5px;
    margin-bottom: 20px;
    margin-left: 30px;
    cursor: pointer;
    padding: 7px;
  }
  li a.current {
    background-color: #136885;
    padding-top: 2px;
    padding-bottom: 5px;
    border-radius: 9px;
  }