nav ul {
  list-style-type: none;
  text-transform: uppercase;

  margin: 0;
  cursor:pointer;
  padding-left: 35px;
}

nav li {
  display: inline-flex;

  padding-left: 8px;
}

nav {
  padding-top: 1px;

  padding-bottom: 1px;

  background-color: #162941;

  margin-top: 90px;

  position: relative;

  height: 66px;
}

.topbar {
  padding-left: 273px;
  border: 0.5px solid;

  border-color: #545b66;

  margin: 2px;

  padding-right: 0;

  padding-bottom: 0px;

  padding-top: 5px;
}

nav ul li a {
  text-decoration: none;
  color: #ade1f7;
  font-size: 16px;
  font-family:sans-serif;
  font-weight: lighter;
}
/* nav ul li a.active {
  color: red !important;
  background-color: red !important;
} */
nav li  a:hover{
  color: white;
}
.topbar ul li a:hover {
  background-color: #4a657f;
}
nav ul li p::before {
  content: "|";
  margin-right: 12px;
  color: #fffffd;
  font-size: 18px;
}

body {
  width: 960px;
  margin:  auto;
  justify-content: center;
  padding-top: 1px;
}

html {
  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
  height: 100%;
}
.toprightbox {
  background-color:#405c8a;
  float: right;
  font-weight: normal;
  font-size: 15px;
  height: 20px;
  padding: 2px 7px 2px 2px;
  text-align: right;
  cursor: pointer;
  margin-top: 0px;
  font-family: 'Trebuchet MS';
    
}



#Logo {
  float: left;
  height: 158px;
  position: absolute;
  top: 50px;
  width: 224px;
  margin-left: 10px;
}
#Banner {
  color: #ffffff;
  border-width: 1px;
  padding: 27px 0 25px 25px;
}
.contentbackground {
    font-family: Trebuchet MS;
    font-size: 15px;
    background: linear-gradient(to bottom, #12203880, #122038, #122038);
    padding: 2px;
    
  }

.bottomlinks a {
  color: #b2ddfc;
}
.footer {
  width: inherit;
  color: #d4dbf3;
  text-align: center;
  padding-bottom: 0px;
  background-color: #2d3e6b;
}
.footer p{
  margin-top: 8px;
    padding-top: 5px;
    font-family: Trebuchet MS;
}
.footer p a{
  padding-left: 15px;
  cursor: pointer;
}
#contact::after{
  content:"|";
  margin-bottom: 15px;
}
.topcontent{
  padding: 1px;
  display: inline-flex;
  list-style: none;
  color: white;
  margin-top: 0px;
  gap: 15px;
}
.toprightbox li p::before {
  content: "|";
  margin-right: 7px;
  margin-left: 0px;
}

.toprightbox li p{
  margin-top: 0px;
}

.contentborder{
  border-color: #545b66;
  margin: 2px;
}
#leftsidecol{
  width: 280px;
  padding-left: 45px;
  padding-top: 45px;
  line-height: 35px;
}
ul.leftcontent1 {
  padding: 15px 0 15px 0;
  width: 277px;
  list-style: none;
  color: white;
  padding-left: 0px;
    border-top: 1px solid #3d4558;
  border-bottom: 1px solid #3d4558;
}
.leftsidecontent{
  padding-left: 0px;
}
a.current {
  background-color: #4a657f;
}

.topbar ul li a:active {
  background-color: #4a657f;
}

#rightsidecol{
  float: right;
  width: 500px;
}
.leftcontent1 a{
  color: #b2ddfc;
  text-decoration: underline;
  cursor: pointer;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 15px;
  column-gap: 10px;
  color: white;
  font-family: Trebuchet MS;
  font-size: 15px;
}


.item4 {
  color: #ade1f7;
}

.item4 a {
  color: #ade1f7;
}

.item4 p {
  color: white;
}

.item5 {
  color: white;
}

.item6 {
  margin-left: 30px;
}

.item6 p {
  margin-top: 0px;
}

.item7 {
  padding: 0 0 15px 30px;
  background-color: #122139;
  border-top: 1px solid #3d4558;
  border-bottom: 1px solid #3d4558;
}

.item7 a {
  background-color: #165975;
  border-radius: 2.5px;
  padding: 4px 15px 6px 15px;
}

.item6 p::before {
  content: ".";
  margin-right: 5px;
  font-size: 15px;
}

#request::after{
  content: "|";
  padding-left: 10px;
  padding-bottom: 10px;
}
